.container{
    display: flex;
    max-width: 100%;
}
.block_info{
    max-width: 45%;
    margin-left: 3%;
}
.block_blur{
    position: top;
    max-width: 45%;
    margin-left: 3%;
}
.block_about{
    margin: auto;
    max-width: 70%;
}